body{
    background-color: #999;
}
main{
    display:flex;
    flex-direction: column;
    align-items:right;
    max-width:1500px;
}
textarea{
    font-family: Arial, Helvetica, sans-serif;
    font-size:large;
}
header{
    border: 2px solid #000;
    background-color: #eee;
    margin:0 0 10px;
    width:100%;
    display:block;
    text-align: center;
}
section{
    background-color: #fff;
    text-align: center;
    padding:0 5px 5px 5px;
    width: calc(100% - 344px);
    align-self:flex-end;
}
footer{
    border: 2px solid #000;
    background-color: #eee;
    margin:10px 0 0 0;
    width:100%;
    display:block;
    text-align: center;
}
#inputtext{
    height:220px;
    width:100%;
    margin:0 auto;
    resize:vertical;
    display:block;
    overflow:auto;
    min-height: 220px;
    max-height: 640px;
    background: #eee;
    transition:border .1s ease;
    border: 1px solid #ccc;
    white-space: pre-wrap;
}
#outputtext{
    height:220px;
    width:100%;
    margin:0 auto;
    resize:vertical;
    display:block;
    overflow:auto;
    min-height: 220px;
    max-height: 640px;
    background: #eee;
    border: 1px solid #ccc;
    white-space: pre-wrap;
}

@media (max-width:1096px){
    section{
        float:none;
        width:100%;
    }
}