body{
    background-color: #888;font-family: Arial, sans-serif; margin: 0; padding: 0;
}
header {
    color: #000; padding:10px; text-align: center; border: 3px; border-color: #000;
}
main{
    display:flex; padding:5px;
}
#wrapper{
    width: 1000px;
    margin: 0 auto;
}
#option_section{
    margin: auto 0 auto 0;
}
#transform_button{
    width: 100%;
    padding: 10px;
    font-family: "Blinker";
    font-size: 16px;
    font-weight: bold;
    line-height: 1.5;
    color: #333; 
}
.TEXT_DIV > h3{
    margin-left: 20px;
}
.TEXT_DIV{
    margin:auto;
    border:2px solid #000;
    overflow:hidden;
    display:inline-block;
    background-color: #ccc;
}
.FOR_TEXT{
    align-self:center;
    margin:20px;
    padding:5px;
    width: 300px;
    height: 400px;
    border:1px solid #000;
    display: block;

    font-family: "Consolas";
    font-size: 16px;
    font-weight: normal;
    line-height: 1.5;
    color: #333; 
}
textarea{
    font-family: "Hack";
}