<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="icon" href="{{ url_for('static',filename='icon/favicon.ico') }}">
    <title>Shellcode Crafter</title>
</head>
<body>
    <body>
        <div id= "wrapper">
        <header>
            <h1>ShellcodeCrafter</h1>
        </header>
            <main>
                <div id="Input_div" class = "TEXT_DIV">
                    <h3>Input</h3>
                    <span>
                        <textarea id="input_text" class = "FOR_TEXT"></textarea>
                    </span>
                </div>
                <section id = "option_section">
                    <h3>Assembler-type
                    <div>
                        <input type="radio" class="assembler-type" value="Intel" checked> Intel
                        <input type="radio" class="assembler-type" value="ATT" checked> ATT
                    </div>
                    <div>
                        <button id = "transform_button">Assembler<br>to<br>Shellcode!</button>
                    </div>
                </section>
                <div id="Output_div" class = "TEXT_DIV">
                    <h3>ShellCode</h3>
                    <span>
                        <textarea id="output_text" class = "FOR_TEXT"></textarea>
                    </span>
                </div>
        </main>
    </div>
    <script rel="stylesheet" src="{{ url_for('static', filename='js/main.js') }}"></script>
    </body>
</html>