<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width" initial-scale=1.0>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="icon" href="{{ url_for('static',filename='icon/favicon.ico') }}">
    <title>Shellcode Crafter</title>
</head>
<body>
    <div id="layout">
        <main>
            <header id="title">
                <h2>Shellcode Crafter</h2>
            </header>
            <section>
                <h3>Input</h3>
                <textarea id="inputtext" spellcheck="false"></textarea>
                <button>Craft</button>
                <h3>Output</h3>
                <textarea id="outputtext" spellcheck="false"></textarea>
            </section>
            <footer id="footerSections">
                <h3>footer</h3>
            </footer>
        </main>
    </div>
</body>
</html>